.conteneurColonne{
    display: flex;
    flex-direction: column;
}

.conteneurRow{
    display: flex;
    flex-direction: row;
}

.backgroundBox{
    background-color: #E3E7F0;
    border: solid;
    border-radius: 5px;
    border-color: white;
}

.height100{
    height: 100%;
}

.width100{
    width: 100%;
}

.coteGauchePage{
    width: 10%;
    background-color: #91BF8A;
}

.noPadNoMarg{
    padding: 0px;
    margin: 0px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100%;
}

.titre{
    font-size: x-large;
    font-weight: bold;
    border-color: white;
    border-radius: 5px;
    border: solid;
    color: #357AB7;
}

.divAlignement{
    justify-content: center;
    align-items: center;
    gap: 20px;
}